* {
    margin: 0;
    padding: 0;
}

.demo {
    border: 1px solid red;
    background-color: green;
}

header {
    background: url("images/banner.jpg")center center no-repeat;
    padding: 20px;
    min-height: 500px;
}

.about-sign {
    float: right;
    text-transform: uppercase;
    margin-right: 450px;
    margin-top: 30px;
    text-align: center;
}

.about-sign a {
    text-decoration: none;
    color: black;
}

.about {
    float: left;
    text-align: center;
    padding: 10px 15px;
}

.sign {
    float: right;
    text-align: center;
    margin-left: 30px;
    border: 2px solid #8bc34a;
    border-radius: 100px;
    padding: 10px;
}

.logo {
    background: url("images/hapoERP.png") center center no-repeat;
    height: 50px;
    margin-top: 200px;
    padding: 10px;
    margin-bottom: 50px;
}

.header-center {
    text-transform: uppercase;
}

.better,
.faster,
.together {
    display: inline-block;
    width: 33%;
    text-align: center;
}

span {
    display: block;
    font-size: 30px;
    margin-top: 15px;
}

img {
    height: 50px;
    width: 50px;
}

.start-now {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 250px;
}

.start-now span {
    font-size: 20px;
    font-family: Roboto;
    font-style: italic;
    margin-bottom: 30px;
}

.start-now-button {
    text-transform: uppercase;
    border: 2px solid #000;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    border-radius: 100px;
    padding: 10px 25px;
    color: aliceblue;
    font-family: Roboto;
    font-size: 15px;
}